.dropdown-div {
    display: flex;
    justify-content: center;
}

.buy-dropdown .btn-success, .sell-dropdown .btn-success {
    margin-inline: 1rem;    
    --bs-btn-bg: none; 
    --bs-btn-color: #000000;
    --bs-btn-border-color: #fc6421;     
    --bs-btn-hover-bg: #fe6c2d;
    --bs-btn-hover-border-color: #ffa58f;    
    --bs-btn-active-bg: #ffa58f;
    --bs-btn-active-border-color: #ffad98;    
    --bs-btn-disabled-bg: #fc6421; 
    --bs-btn-disabled-border-color: #fc6421; 
} 

.buy-dropdown .btn, .sell-dropdown .btn {
    --bs-btn-padding-y: 0.2rem;
}


.dash-nav .bg-body-tertiary {
    border-bottom: 1px solid #d8d8d8;
    transition: box-shadow .25s ease-in-out;
}

.filter-sidebar {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 71px;
    left: 0;
    background-color: #F8F9FA;;
    overflow-x: hidden;
    padding-top: 20px;
}



.filter-sidebar .nav-pills .nav-link.active {
    background-color: transparent;
    color: #fc6421;
}

.filter-sidebar .home-col2 {
    background: none;
    padding: 1.2rem;
    border-radius: none;
    box-shadow: none;
}

.filter-sidebar .home-col2 .nav-pills {
    justify-content: center;    
}

.buysell-kay {
    margin-left: 25%;
  }