.dash-nav .bg-body-tertiary {
    border-bottom: 1px solid #d8d8d8;
    transition: box-shadow .25s ease-in-out;
}
.filter-sidebar {    
    background: #F8F9FA;
    width: 26.5%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    padding: 100px 0;    
}

.filter-sidebar .home-col2 {
    background: none;
    padding: 1.2rem;
    border-radius: none;
    box-shadow: none;
}

.filter-sidebar .home-col2 .nav-pills {
    justify-content: center;    
}

.dropdown-div {
    display: flex;
    justify-content: center;
}

.buy-dropdown .btn-success, .sell-dropdown .btn-success {
    margin-inline: 1rem;    
    --bs-btn-bg: #fc6421; 
    --bs-btn-border-color: #fc6421;     
    --bs-btn-hover-bg: #fe6c2d;
    --bs-btn-hover-border-color: #ffa58f;    
    --bs-btn-active-bg: #ffa58f;
    --bs-btn-active-border-color: #ffad98;    
    --bs-btn-disabled-bg: #fc6421; 
    --bs-btn-disabled-border-color: #fc6421; 
} 