.custom-cardt {
  border: none;
  background-color: #fafafa;
  padding: 6rem 1rem;
  color: #424242;
}

.heading {
  text-align: center;
}

.text {
  font-size: 34px;
}

/* MarketButton.css */

.btn-container {
  margin-top: 20px;
}

/* .btn-custom {
  position: relative;
  color: white;
  font-size: large;
  background-color: #fc6520;
  padding: 10px 20px;
  text-transform: capitalize;
} */

.btn-custom:hover,
.btn-custom:focus {
  color: white;
  background-color: #fc6520;
} 

.btn-custom::after {
  content: '';
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: 25px;
  top: 25px;
  transition: all 0.5s linear;
}

.e {
  font-weight: bold;
}
/* .btn-container {
margin-top: 3%;
}
.btn-custom {
  color: white;
  font-size: large;
  background-color: #fc6520;
  padding: 10px 20px;
}

.btn-custom:hover,
.btn-custom:focus {
  color: white;
  background-color: #fc6520;
} */

/* second content */

.custom-cardt2 {
  border: none;
  background-color: white;
  padding: 6rem 1rem;
  color: #424242;
}

.logo1 {
  max-width: 30%;
  margin: 16px 10px;
  border-radius: 10px;
  border-top: 20px solid #fc6520;
  border-bottom: 20px solid #fc6520;
}

.logo2 {
  max-width: 30%;
  margin: 16px 10px;
  border-top: 2px solid #fc6520;
  border-bottom: 2px solid #fc6520;
}

.logo3 {
  max-width: 30%;
  margin: 16px 10px;
  border-radius: 10px;
  border-top: 10px solid #fc6520;
  border-bottom: 10px solid #fc6520;
}
