.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  column-gap: 20px;
}

.content h2 {
  color: var(--main-color);
}

.main-info {
  padding-inline: 40px;
  margin-block: 7rem;
}

.item {
  margin-bottom: 20px;
}

.button-container {
  text-align: left;
}

.button-label {
  font-size: 1em;
  margin-left: 0.6rem;
}

button.label.button {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.button {
  background-color: #fff;
  border: 1px solid #fff;
  height: 46px;
  width: 225px;
  color: var(--text-color);
  transition: background-color 0.3s;
  border-radius: 4%;
}

.button.active {
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
  width: 65%;
}

.sellers {
  margin-top: 10px;
  border: 1px solid #d8d8d8;
  background-color: white;
}

.head {
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.buysell .btn-container {
  display: flex;
  align-items: center;
  background-color: red;
}

.act-fee {
  display: flex;
  border: 1px solid black;
}

.table-btn {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.more-content {
  display: flex;
  border: 1px solid var(--color1);
  margin-top: 50px;
  width: auto;
}

.content-logo {
  background-color: var(--color2);
  border: 1px solid var(--color1);
  padding: 30px;
  width: 19%;
}

.more-contenx {
  display: flex;
  margin-top: 20px;
  padding: 19px;
  width: auto;
}

.card-in {
  display: flex;
  align-items: center;
}

.card-text {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.small-text {
  margin: 0;
}

.content-btn1 {
  background-color: #285d74;
  color: white;
  border: 1px solid #d8d8d8;
  width: 6em;
  height: 2em;
  border-radius: 7px;
}

.content-btn {
  background-color: var(--color1);
  color: white;
  border: 1px solid var(--color1);
  width: 10em;
  border-radius: 7px;
}

.content-btn2 {
  color: var(--text-color);
  border: 1px solid #d8d8d8;
  width: 10em;
  height: 2em;
}
*/ nav {
  background-color: #f8f8f8;
}

.card-tex {
  display: flex;
  align-items: center;
  padding: 18px;
  width: 200%;
  gap: 10px;
}

.refer-text {
  width: 100%;
}
.card-tex p {
  margin: 0;
}

.card-tex p:first-of-type {
  font-weight: bold;
  padding-bottom: 3px;
}

.refer {
  border: 1px solid #ddd;
  margin-block: 6rem;
  display: flex;
}

.ref-logo {
  border: 1px solid #ddd;
  background-color: var(--main-color);
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.refer-btn1 {
  background-color: #285d74;
  color: white;
  border: 1px solid #d8d8d8;
  width: 160px;
  height: 2em;
  border-radius: 7px;
}

.last-section {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.last-content {
  padding: 10%;
}

.buysell-kay {
  background-color: #ffffff;
}

/* for filter css */

.in-content,
.filt-bs {
  display: flex;
}

.filter-sidebar {
  width: 20vw;
  background-color: #f8f9fa;
}

.filter-sidebar .home-col2 {
  background: none;
  padding: 3rem 2rem;
  border-radius: none;
  box-shadow: none;

  overflow-y: auto;
  overflow-x: hidden;
  top: 4.5em;
  position: sticky;
}

.filter-sidebar .home-col2 .nav-pills {
  justify-content: center;
}
