.FAQ, .TAW {
    padding: 6rem 1rem;
    background-color: #ffffff;
}

.adion {
    max-width: 60rem;
    margin-inline: auto;
    margin-block: 50px;
}


.items {
    margin-bottom: 3rem;
    border: none;
    box-shadow: 0 0 3.5rem rgba(0, 0, 0, 0.08);
    border-radius: 0.5rem;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: var(--main-color);
    color: #ffffff;
}