.custom-card {
  border: none; 
  background-color: #FAFAFA;
  padding: 6rem 1rem ; 
  color: #424242;
}

.heading {
  text-align: center;
}

.text {
  font-size: 34px; 
}

.line {
  width: 120px;
  height: 2px;
  background: linear-gradient(to right, transparent, #FC6520, transparent);
  margin: 0 auto;
  margin-bottom: 1rem;
  display: inline-block;
}

.heading p {
  font-size: 20px;
  padding-bottom: 40px;
}

.logo {
  max-width: 20%; 
  padding: 20px 10px;
} 

.card {
  border: none; 
}

.card h4 {
  margin-top: 16px; 
  font-weight: bold;
}

.card p {
  margin-bottom: 20px; 
}
